<%
=begin%>
  ===============   First row   ==================
<%
=end%>
  <div class="clear_display">C</div>
  <div class="open_parenthesis">(</div>
  <div class="close_parenthesis">)</div>
  <div class="mod_operator">mod</div>
  <div class="pi_operator">&#928</div>
<%
=begin%>
  ===============   Second row   ==================
<%
=end%>
  <div class="seven">7</div>
  <div class="eight">8</div>
  <div class="nine">9</div>
  <div class="divide">/</div>
  <div class="square">&#8730</div>
<%
=begin%>
  ===============   Third row   ==================
<%
=end%>
  <div class="four">4</div>
  <div class="five">5</div>
  <div class="six">6</div>
  <div class="multiply">x</div>
  <div class="square_exponencial">X<sup>2</sup></div>
<%
=begin%>
  ===============   Four row   ==================
<%
=end%>
  <div class="one">1</div>
  <div class="two">2</div>
  <div class="three">3</div>
  <div class="substraction">-</div>
  <div class="equal"> =</div>
<%
=begin%>
  ===============   Fifth row   ==================
<%
=end%>
  <div class="zero">0</div>
  <div class="point">.</div>
  <div class="percentage">%</div>
  <div class="plus">+</div>
