<%
=begin%>
  ===============   First row   ==================
<%
=end%>
  <div class="kbd_btn clear" id="clear">C</div>
  <div class="kbd_btn open_parenthesis" id="open_parenthesis">(</div>
  <div class="kbd_btn close_parenthesis" id="close_parenthesis">)</div>
  <div class="kbd_btn mod" id="mod">mod</div>
  <div class="kbd_btn pi" id="pi">&#928</div>
<%
=begin%>
  ===============   Second row   ==================
<%
=end%>
  <div class="kbd_btn seven" id="seven">7</div>
  <div class="kbd_btn eight" id="eight">8</div>
  <div class="kbd_btn nine" id="nine">9</div>
  <div class="kbd_btn divide" id="divide">/</div>
  <div class="kbd_btn square" id="square">&#8730</div>
<%
=begin%>
  ===============   Third row   ==================
<%
=end%>
  <div class="kbd_btn four" id="four">4</div>
  <div class="kbd_btn five" id="five">5</div>
  <div class="kbd_btn six" id="six">6</div>
  <div class="kbd_btn multiply" id="multiply">*</div>
  <div class="kbd_btn square_exponencial" id="square_exponencial">X<sup>2</sup></div>
<%
=begin%>
  ===============   Four row   ==================
<%
=end%>
  <div class="kbd_btn one" id="one">1</div>
  <div class="kbd_btn two" id="two">2</div>
  <div class="kbd_btn three" id="three">3</div>
  <div class="kbd_btn substraction" id="substraction">-</div>
  <div class="kbd_btn equal" id="equal"> =</div>
<%
=begin%>
  ===============   Fifth row   ==================
<%
=end%>
  <div class="kbd_btn zero" id="zero">0</div>
  <div class="kbd_btn point" id="point">.</div>
  <div class="kbd_btn percentage" id="percentage">%</div>
  <div class="kbd_btn plus" id="plus">+</div>
