<div class="calculator" onselectstart = 'return false'>
  <div class="display">
    <div class="history" id="history"></div>
    <div class="result" id="result"></div>
  </div>
  <div class="keyboard-grid">
    <% if @mode == "basic" %>
      <%= render "shared/basic_mode_calculator" %>
    <%end%>
  </div>
</div>