//////////////    BACKGROUND COLORS   //////////////
$bg-color-light: #404040;
$bg-color-base: #303030;
$bg-color-mid: #262626;
$bg-color-dark: #212121;
$bg-color-dark_gray: #444444;
$bg-color-mid_gray: #919191;
$bg-color-light_gray: #e6e6e6;

//////////////    FONT COLORS   //////////////
$font-color-dark: #212121;
$font-color-dark_gray: #444444;
$font-color-mid_gray: #919191;
$font-color-light_gray: #e6e6e6;
$font-color-white: #E1E1E1;

//////////////    FONT SIZES    //////////////
$font-size-xsm: 0.7rem;
$font-size-sm: 1rem;
$font-size-normal: 1.3rem;
$font-size-l: 1.75rem;
$font-size-xl: 2.25rem;
$font-size-xxl: 2.6rem;
$font-size-xxxl: 3rem;

//////////////    BORDERS-color    //////////////
$border-1-red: 0.07rem  solid crimson;
$border-2-red: 0.13rem  solid crimson;
$border-3-red: 0.20rem  solid crimson;
$border-4-red: 0.25rem  solid crimson;
$border-5-red: 0.32rem  solid crimson;

$border-1-blue: 0.07rem  solid rgb(6, 105, 185);
$border-2-blue: 0.13rem  solid rgb(6, 105, 185);
$border-3-blue: 0.20rem  solid rgb(6, 105, 185);
$border-4-blue: 0.25rem  solid rgb(6, 105, 185);
$border-5-blue: 0.32rem  solid rgb(6, 105, 185);

$border-1-green: 0.07rem  solid rgb(13, 189, 92);
$border-2-green: 0.13rem  solid rgb(13, 189, 92);
$border-3-green: 0.20rem  solid rgb(13, 189, 92);
$border-4-green: 0.25rem  solid rgb(13, 189, 92);
$border-5-green: 0.32rem  solid rgb(13, 189, 92);

$border-1-yellow: 0.07rem  solid rgb(236, 198, 28);
$border-2-yellow: 0.13rem  solid rgb(236, 198, 28);
$border-3-yellow: 0.20rem  solid rgb(236, 198, 28);
$border-4-yellow: 0.25rem  solid rgb(236, 198, 28);
$border-5-yellow: 0.32rem  solid rgb(236, 198, 28);

$border-1-orange: 0.07rem  solid rgb(240, 72, 21);
$border-2-orange: 0.13rem  solid rgb(240, 72, 21);
$border-3-orange: 0.20rem  solid rgb(240, 72, 21);
$border-4-orange: 0.25rem  solid rgb(240, 72, 21);
$border-5-orange: 0.32rem  solid rgb(240, 72, 21);

$border-1-dark: 0.07rem  solid rgba(61, 61, 60, 0.658);
$border-2-dark: 0.13rem  solid rgba(61, 61, 60, 0.658);
$border-3-dark: 0.20rem  solid rgba(61, 61, 60, 0.658);
$border-4-dark: 0.25rem  solid rgba(61, 61, 60, 0.658);
$border-5-dark: 0.32rem  solid rgba(61, 61, 60, 0.658);

//////////////    MARGINS    //////////////
$mg-1: 0.13rem;
$mg-2: 0.19rem;
$mg-3: 0.24rem;
$mg-4: 0.29rem;
$mg-5: 0.35rem;